@font-face {
    font-family: 'Hack Nerd Font';
    src: url('font/HackNF-Bold.woff2') format('woff2'),
        url('font/HackNF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hack Nerd Font';
    src: url('font/HackNF-Regular.woff2') format('woff2'),
        url('font/HackNF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: 'Hack Nerd Font', ui-sans-serif, system-ui, Arial, sans-serif;
}
